<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taroco.rbac.admin.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.taroco.rbac.admin.model.entity.SysRole">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="role_desc" property="roleDesc" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

	<!--roleDto-->
	<resultMap id="RoleDtoMap" type="cn.taroco.rbac.admin.model.dto.RoleDTO">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="role_desc" property="roleDesc" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
		<collection property="deptList" column="role_id" select="selectDeptListByRoleId">
			<result column="dept_id" property="deptId"/>
			<result column="name" property="name"/>
		</collection>
	</resultMap>

	<select id="selectRolePage" resultMap="RoleDtoMap">
		SELECT
			*
		FROM
			sys_role r
		WHERE r.del_flag = 0
        <if test="condition.roleName != null and condition.roleName != ''">
            and instr(r.role_name, #{condition.roleName}) > 0
        </if>
		ORDER BY r.role_id ASC
	</select>
	<select id="selectListByDeptId" resultMap="BaseResultMap">
		SELECT
			r.role_id,
			r.role_name,
			r.role_code,
			r.role_desc,
			r.create_time,
			r.update_time,
			r.del_flag
		FROM sys_role r LEFT OUTER JOIN sys_role_dept rd ON rd.role_id = r.role_id
		WHERE rd.dept_id = #{deptId}
	</select>
	<select id="selectDeptListByRoleId" resultType="cn.taroco.rbac.admin.model.entity.SysDept">
		select d.dept_id,d.name
		from sys_role_dept srd,sys_dept d
		where d.dept_id = srd.dept_id and role_id = #{role_id}
	</select>
</mapper>
